/* Header begins */

.wholeNav {
    background-color: #262336 ;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    border-bottom: 1px solid #e5e3e3;
}

.flexNav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width: 20%;
}

.airLogo {
    background-color: #6f6c88;
    color: #e5e5e4;
    margin-left: 30px;
    margin-top: 10px;
    padding: 2px;
    border-radius: 12px;
    font-size: xxx-large;
    font-weight:bolder;
    text-align: center;
    flex: 1;
}

.airText {
    color: #cfced4;
    font-size: x-large;
    width: 130px;
    margin-left: 18px;
    margin-top: 8px;
}

.airTwo {
    color: #9996a6;
    margin: 0px;
    width: 130px;
    font-size: large;
}

.mainOrder {
    list-style: none;
    margin-left: 50%;
    margin-bottom: 40px;
    margin-top: -40px;
}

.mainLinks {
    display: inline;
}

.mainLinks a {
    text-decoration: none;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: #68647d;
    border-radius: 6px;

    &:hover {
        background-color: #0e0d13c1;
        color: wheat;
    }
}

/* end of Header */


/* being main */

/* Customer Support Section */

.mainTitle {
    background-color: #262336;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 128px;
}

.headerInfo {
    text-align: center;
}

.headerInfo h1 {
    font-size: xx-large;
    margin: 0;
    color: white;
}

.headerOne {
    margin: 0;
    margin-top: 30px;
}

.headerTwo {
    margin: 0;
    margin-top: 0;
}

.headerInfo p {
    margin-left: 30%;
    width: 510px;
}

.mainOne {
    color: white;
    background-color: grey;
    margin-bottom: 40px;
}

/* end Customer Support */



.options {
    background-color: #f29b66;
    position: absolute;
    top: 416px;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0px;
    right: 0px;
    display: flex;
    text-align: center;
    gap: 1rem;
}  

/* Control Section */

.circleOne {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #808080;
    margin-top: 4px;
    margin-left: 38%;
}

.title {
    color: white;
    margin: 0;
    font-size: x-large;
}

.optionOne {
    margin: 0;
    color: #68647d;
}

.optionTwo {
color: black;
margin-left: 21px;
    margin-right: 21px;
}


/* domain section */
.circleTwo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #808080;
    margin-top: 4px;
    margin-left: 36%;
}


/* FTP Service section */
.circleThree {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #808080;
    margin-top: 4px;
    margin-left: 37%;
}


/* Direct Section  */
.circleFour {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #808080;
    margin-top: 4px;
    margin-left: 35%;
}



/* pricing */

.flexDiv {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 113%;
    gap: 1rem;
    left: 0;
    background-color: #e8e8ea;
    text-align: center;
    width: 100%;
    height: 90%;
    justify-content: space-between;
}

.divHead {
    background-color: #6f6c89;
    border-radius: 8px;
}


.colorBody {
    background-color: #f5f0f0;
    list-style: none;
    padding: 20px;
}


.size    {
    padding: 25px;
    font-size: larger;
    margin: 2px;
}    

.secondInfo {
    padding: 0px;
    font-size: small;
}

.purchase {
list-style: none;
background-color: white;
padding: 20px;
}

.miniOne {
    margin-left: 55px;
    margin-top: 20px;
}

.miniTwo {
    margin-left: 60px;
    margin-top: 20px;
}

.miniThree {
    margin-left: 50px;
    margin-top: 20px;
}

.miniFour {
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 20px;
}


.bottomSection {
    position: absolute;
    display: flex;
    top: 203%;
    background-color: #262336;
    left: 0px;
    gap: 1rem;
}