/* Header begins */

.wholeNav {
    background-color: #262336 ;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    border-bottom: 1px solid #e5e3e3;
}

.flexNav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
    width: 20%;
}

.airLogo {
    background: linear-gradient(#a8a1c5, #6c6882);
    color: #e5e5e4;
    margin-left: 30px;
    margin-top: 10px;
    padding: 2px;
    border-radius: 12px;
    font-size: xxx-large;
    font-weight:bolder;
    text-align: center;
    flex: 1;
}

.airText {
    color: #cfced4;
    font-size: x-large;
    width: 130px;
    margin-left: 18px;
    margin-top: 8px;
}

.airTwo {
    color: #9996a6;
    margin: 0px;
    width: 130px;
    font-size: large;
}

.mainOrder {
    list-style: none;
    margin-left: 50%;
    margin-bottom: 40px;
    margin-top: -40px;
}

.mainLinks {
    display: inline;
}

.mainLinks a {
    text-decoration: none;
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    color: #68647d;
    border-radius: 6px;

    &:hover {
        background-color: #0e0d13c1;
        color: wheat;
    }
}

/* end of Header */


/* being main */

/* Customer Support Section */

.mainTitle {
    background-color: #262336;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    margin-top: 128px;
}

.headerInfo {
    text-align: center;
}

.headerInfo h1 {
    font-size: xx-large;
    margin: 0;
    color: white;
}

.headerOne {
    margin: 0;
    margin-top: 30px;
    background: linear-gradient(180deg, #bdbcc5, #6c6882);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headerTwo {
    margin: 0;
    margin-top: 0;
    background: linear-gradient(180deg, #bdbcc5, #6c6882);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headerInfo p {
    margin-left: 30%;
    width: 510px;
    color: #68647d;
}

.mainOne {
    color: white;
    background: linear-gradient(#a8a1c5, #6c6882) ;
    margin-bottom: 40px;
    padding: 12px;
    border-radius: 8px;
}

/* end Customer Support */



.options {
    background-color: #f29b66;
    position: absolute;
    top: 416px;
    margin: 0;
    padding: 0;
    width: 100%;
    left: 0px;
    right: 0px;
    display: flex;
    text-align: center;
    gap: 1rem;
}  

/* Control Section */

.circleOne {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(180deg, #808080, #525668);
    margin-top: 4px;
    margin-left: 38%;
}

.title {
    color: white;
    margin: 0;
    font-size: x-large;
}

.optionOne {
    margin: 0;
    color: #e3e2e5;
}

.optionTwo {
color: black;
margin-left: 21px;
    margin-right: 21px;
}


/* domain section */
.circleTwo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(180deg, #808080, #525668);
    margin-top: 4px;
    margin-left: 36%;
}


/* FTP Service section */
.circleThree {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(180deg, #808080, #525668);
    margin-top: 4px;
    margin-left: 37%;
}


/* Direct Section  */
.circleFour {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(180deg, #808080, #525668);
    margin-top: 4px;
    margin-left: 35%;
}



/* pricing */

.flexDiv {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 113%;
    gap: 1rem;
    left: 0;
    background-color: #e8e8ea;
    text-align: center;
    width: 100%;
    height: 90%;
    justify-content: space-between;
}

.divHead {
    background-color: #6f6c89;
    border-radius: 8px;
}


.colorBody {
    background-color: #f5f0f0;
    list-style: none;
    padding: 20px;
    color: #b3b3b3;
}


.sizeOne    {
    padding: 25px;
    font-size: larger;
    margin: 2px;
    background: linear-gradient(180deg, #d9d8d8, #6c6882);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sizeTwo    {
    padding: 25px;
    font-size: larger;
    margin: 2px;
    color: white;
}

.secondInfo {
    padding: 0px;
    font-size: small;
    margin-top: 2px;
}

.purchase {
list-style: none;
background-color: white;
padding: 20px;
color: #b3b3b3;
}

.miniOne {
    margin-left: 55px;
    margin-top: 20px;
}

.miniTwo {
    margin-left: 60px;
    margin-top: 20px;
}

.miniThree {
    margin-left: 50px;
    margin-top: 20px;
}

.miniFour {
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 20px;
}

.buttonPurchase {
    color: white;
    background: linear-gradient(180deg, #f18b55, #e65e32) ;
    border: none;
    padding: 3px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 6px;
}



.bottomSection {
    position: absolute;
    display: flex;
    top: 203%;
    background-color: #262336;
    left: 0px;
    gap: 1rem;
}

.solutionService {
    color: white;
}

.solutionService::marker {
    color: orange;
}

h4 {
    font-size: larger;
    text-align: center;
    background: linear-gradient(180deg, #bdbcc5, #6c6882);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottomPara {
    color: #bebcc7;
}

.hostService h4{
   width: 140px; 
   margin-left: 50px;
}

.hostService li {
    margin-left: 50px;
}

.hostService p {
    margin-left: 54px;
}

.hostService button {
    margin-left: 54px;
}




.serverSolution h4 {
    width: 140px;
    margin-left: 120px;
}    

.serverSolution li {
    margin-left: 108px;
}

.serverSolution p {
    margin-left: 107px;
}

.serverSolution button {
    margin-left: 104px;
}



.emailSolution h4 {
    width: 140px;
    margin-left: 90px;
}

.emailSolution li {
    margin-left: 95px;
}

.emailSolution p {
    margin-left: 77px;
}

.emailSolution button {
    margin-left: 75px;
}




.moreProduct h4 {
    width: 125px;
    margin-left: 35px ;
}

.moreProduct li {
    margin-left: 34px;
}

.moreProduct p {
    margin-left: 34px ;
}

.moreProduct button {
    margin-left: 33px;
    margin-bottom: 57px;
}



.endBrand {
    position: absolute;
    left: 0px;
    top: 255%;
    display: flex;
    background-image: url("../media/Screenshot\ 2025-03-03\ 150918.png");
    background-repeat: no-repeat;
    width: 1256.4px;
    height: 124px;
    background-size: contain;
}

.footer {
    position: absolute;
    top: 277%;
    background-color: #1a1921;
    width: 100%;
    left: 0;
    display: flex;
    padding-bottom: 25px;
}


.flexNavFoot {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.airLogoTwo {
    background: linear-gradient(#a8a1c5, #6c6882);
    color: #e5e5e4;
    margin-left: 30px;
    padding: 4px;
    border-radius: 8px;
    font-size: xx-large;
    font-weight:bolder;
    text-align: center;
}

.airTextTwo {
    color: #cfced4;
    font-size: small;
    margin-left: 18px;
    margin-top: 8px;
}

.airThree {
    color: #9996a6;
    margin: 0px;
    width: 130px;
    font-size: small;
}


.footerInfo {
    color: #444153;
    margin-top: 35px;
    font-size: small;
}


.circleHold {
    display: flex;
    position: relative;
    left: 60%;
    margin-top: 40px;
}


.imgOne {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#2a273a ;
}

.imgTwo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#2a273a ;
    margin-left: 3px;
}

.imgThree {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:#2a273a ;
    margin-left: 3px;
    margin-right: 3px;
}

.imgFour {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #646180;
}